

/* 🔹 พื้นหลังอยู่กับที่ตลอด */
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('/BG.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: opacity;
  transition: calc(opacity 0.5s ease) ;
  overflow: hidden;
}

.desktop {
  display: block !important;  /* !!!!!!!!!! */
}

.mobile {
  display: none !important; 
}

.SmallDesktop {
  display: none !important;
}

.tablet {
  display: none !important;
}

@media (max-width: 1900px) {
  .SmallDesktop {
    display: block !important;  /* !!!!!!!!!! */
  }

  .mobile {
    display: none !important;
  }

  .desktop {
    display: none !important;
  }

  .tablet {
    display: none !important;
  }
}

@media (max-width: 1500px) {
  .tablet {
    display: block !important;  /* !!!!!!!!!! */
  }

  .mobile {
    display: none !important;
  }

  .desktop {
    display: none !important;
  }

  .SmallDesktop {
    display: none !important;
  }
}

@media (max-width: 800px) {
  .desktop {
    display: none !important;
  }

  .SmallDesktop {
    display: none !important;
  }

  .mobile {
    display: block !important;  /* !!!!!!!!!! */
  }

  .tablet {
    display: none !important;
  }
}
